/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* LEFT */
/* .left {
    width: 50%;
    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* RIGHT */
/* .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 320px;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
*/








* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #ffffff;
}

/* Layout */
.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left h1 {
    font-size: 48px;
}

.left p {
    color: #555;
}

/* RIGHT SIDE */
.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN CARD */
.login-card {
    width: 360px;
    padding: 35px;
    border-radius: 16px;
    background: #1f1f1f;
    color: #fff;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

/* Text */
.login-card h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

/* .sub {
    color: #aaa;
    margin-bottom: 25px;
} this was for sign in with your account*/

/* Inputs */
label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #ccc;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #444;
    background: #2a2a2a;
    color: white;
}
button {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
    background: #4f46e5;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #4338ca;
}

/* Google Button */
.google-btn {
    background: #db4437;
}

.google-btn:hover {
    background: #c1351d;
}

#toggle-text {
    margin-top: 10px;
    text-align: center;
}

span {
    color: #4f46e5;
    cursor: pointer;
    font-weight: bold;
}   



.hero-image {
    width: 400px;
    height: 350px;

}

#form-title {
    color: #aaa;
    margin-bottom: 25px;
}






