.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* LEFT SIDE */
.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  width: 40px;
  margin-right: 10px;
}

.company-name {
  font-size: 18px;
  font-weight: bold;
}

/* RIGHT SIDE */
.nav-right a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-right a:hover {
  color: #2b7cff;
}

/* LOGIN BUTTON */
.login-btn {
  padding: 8px 15px;
  background: black;
  color: white !important;
  border-radius: 5px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}



body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #74ABE2, #5563DE);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  width: 390px;
  margin-top: 30px;
}

.profile-card video {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  transition: transform 0.3s ease;
}

.profile-card video:hover {
  transform: scale(1.05);
}

.avatar-choice {
  margin-top: 20px;
}

.avatar-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.avatar-option {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.avatar-option:hover {
  transform: scale(1.1);
  border: 2px solid white;
}

.avatar-option.selected {
  border: 3px solid #00ffcc;
  box-shadow: 0 0 10px #00ffcc;
}

h3, p {
  margin-top: 15px;
}

.gif-like {
  width: 65%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  display: block;
  background-color: transparent;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  gap: 120px; /* space between gif and glass box */
}


.gifprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}


.mainlogo{
    width: 50px;
    height: 25px;
    margin-right: 7px;
    /* padding: 20px 20px; */
}


#logoutBtn {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background: rgba(255, 77, 77, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

#logoutBtn:hover {
  background: rgba(255, 0, 0, 1);
  transform: scale(1.05);
}